<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Quarkus Vertx Thymeleaf MVC!</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/webjars/Semantic-UI/2.4.1/semantic.min.css"/>
    <!--
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{webjars/Semantic-UI/2.4.1/semantic.min.css}" href="/webjars/Semantic-UI/2.4.1/semantic.css"/>
    -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <p>[[ ${message} ]]</p>
</body>
</html>
